
body {
    font-family: "europa", sans-serif;
    background-color:rgb(211, 27, 27);
}

#main-column{
    margin : 1rem;
    padding: 1rem;
    background-color: white;
}

h1,h2,h3,h4,h5,p,li {
    color: #221d4b;
}

.down-report-listing::before {
    content: "•";
    color: #ff0000;
    margin:0 10px;
}